.text{
  text-align: center;
}

.headline{
  margin-top: 30px;
  text-align: center;
  font-style: oblique;
  font-size: 50px;
}

.description{
  text-align: center;
  font-style: italic;
  font-size: 15px;
}

.link{
  text-align: center;
  font-style: italic;
}
